# Alejandro Marchini Assignment 2

In [15]:
import boto3
import sagemaker
import pandas as pd
from pyathena import connect

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

print(f"Region: {region}")
print(f"Bucket: {bucket}")

Region: us-east-1
Bucket: sagemaker-us-east-1-933747558592

In [16]:
database_name = "dsoaws"
table_name = "music_tracks_parquet"
s3_staging_dir = f"s3://{bucket}/athena/staging"

conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

## Query 1: List artist, track_name, and popularity for songs with popularity >= 99

In [17]:
query1 = f"""
SELECT artists, track_name, popularity
FROM {database_name}.{table_name}
WHERE popularity >= 99
ORDER BY popularity DESC, artists, track_name
"""

print("Query 1: Songs with popularity >= 99")

df1 = pd.read_sql(query1, conn)
df1

Query 1: Songs with popularity >= 99

/tmp/ipykernel_1764/3413454205.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql(query1, conn)

                artists                 track_name  popularity
0          Smyang Piano                    Vol. 4"      134340
1     Charlie Brown Jr.               Prazo Longo"         333
2  Sam Smith;Kim Petras  Unholy (feat. Kim Petras)         100
3  Sam Smith;Kim Petras  Unholy (feat. Kim Petras)         100

## Query 2: List artists with an average popularity of 92

In [18]:
query2 = f"""
SELECT artists, 
       AVG(popularity) as avg_popularity,
       COUNT(*) as track_count
FROM {database_name}.{table_name}
GROUP BY artists
HAVING AVG(popularity) = 92
ORDER BY artists
"""

print("Query 2: Artists with average popularity of 92")

df2 = pd.read_sql(query2, conn)
df2

Query 2: Artists with average popularity of 92

/tmp/ipykernel_1764/775151328.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(query2, conn)

             artists  avg_popularity  track_count
0       Harry Styles            92.0            3
1  Rema;Selena Gomez            92.0            1

## Query 3: Top 10 genres with the highest average energy

In [19]:
query3 = f"""
SELECT track_genre,
       AVG(energy) as avg_energy,
       COUNT(*) as track_count
FROM {database_name}.{table_name}
GROUP BY track_genre
ORDER BY avg_energy DESC
LIMIT 10
"""

print("Query 3: Top 10 genres with highest average energy")

df3 = pd.read_sql(query3, conn)
df3

Query 3: Top 10 genres with highest average energy

/tmp/ipykernel_1764/1626068400.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql(query3, conn)

  track_genre  avg_energy  track_count
0       0.797   1174026.0            1
1       0.556    691306.0            1
2      0.0371    629420.0            1
3      0.0359    614791.0            1
4       0.492    542000.0            1
5        0.45    538160.0            2
6       0.914    531293.0            1
7      0.0427    526946.0            1
8      0.0761    502786.0            1
9      0.0346    500088.0            1

In [20]:
check_genres = f"""
SELECT track_genre
FROM {database_name}.{table_name}
LIMIT 10
"""

check_df = pd.read_sql(check_genres, conn)
check_df

/tmp/ipykernel_1764/3033726849.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  check_df = pd.read_sql(check_genres, conn)

  track_genre
0    alt-rock
1    alt-rock
2    alt-rock
3    alt-rock
4    alt-rock
5    alt-rock
6    alt-rock
7    alt-rock
8    alt-rock
9    alt-rock

In [21]:
genre_test = f"""
SELECT track_genre, artists, track_name, energy, duration_ms
FROM {database_name}.{table_name}
WHERE track_genre = '0.797'
LIMIT 10
"""

test_df = pd.read_sql(genre_test, conn)
test_df

/tmp/ipykernel_1764/1648190655.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test_df = pd.read_sql(genre_test, conn)

,track_genre,artists,track_name,energy,duration_ms
0,0.797,Grateful Dead,"""Scarlet Begonias / Fire on the Mountain - Liv...",1174026.0,None

## Query 4: How many tracks is Bad Bunny on?

In [22]:
query4 = f"""
SELECT COUNT(*) as bad_bunny_track_count
FROM {database_name}.{table_name}
WHERE LOWER(artists) LIKE '%bad bunny%'
"""

print("Query 4: Number of tracks with Bad Bunny")

df4 = pd.read_sql(query4, conn)
df4

Query 4: Number of tracks with Bad Bunny

/tmp/ipykernel_1764/1394100312.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4 = pd.read_sql(query4, conn)

   bad_bunny_track_count
0                    416

## Query 5: Top 10 genres by popularity (based on most popular track in each genre)

In [24]:
query5 = f"""
SELECT track_genre,
       MAX(popularity) as max_popularity,
       AVG(popularity) as avg_popularity
FROM {database_name}.{table_name}
GROUP BY track_genre
ORDER BY max_popularity DESC
LIMIT 10
"""

print("Query 5: Top 10 genres by their most popular track")

df5 = pd.read_sql(query5, conn)
df5

Query 5: Top 10 genres by their most popular track

/tmp/ipykernel_1764/96434874.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5 = pd.read_sql(query5, conn)

  track_genre  max_popularity  avg_popularity
0           4          134340    33673.750000
1         pop             100       47.477204
2       dance             100       22.052201
3   reggaeton              98       23.825203
4      reggae              98       20.590264
5         edm              98       34.758479
6       latin              98        8.107472
7      latino              98       25.486789
8       piano              96       45.970033
9        rock              96       18.851813